h1 {
  color: green;
}
h2 {
  font-family: "궁서"; /* 16진수 표기 */
  color: #0000ff;
}

/* 텍스트에 줄을 표시 하거나 없애는 기능*/
a {
  text-decoration: none;
}

/* 마우스 올렸을때 동작을 설정할 수 있음*/
a:hover {
  color: #000000;
  text-decoration: underline;
}
